<div class="dg-desktop">
    <div class="dg-breadcrum-wrapper">
      <div class="dg-breadcrum">
        <a href="/" class="dg-breadcrum-item">Home</a>
        <div class="dg-arrow right"></div>
        <div class="dg-breadcrum-item">Shower Doors</div>
      </div>
    </div>
    <h1 class="dg-page-title">Shower Door</h1>
    <div class="dg-filters-wrapper">
      <div class="dg-filters">
        <div class="dg-filters-content">
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Installation Option</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="installation0"
                ><input
                  type="checkbox"
                  name="installation"
                  id="installation0"
                  value="I will install"
                />I will install</label
              ><label class="dg-dropdown-item" for="installation1"
                ><input
                  type="checkbox"
                  name="installation"
                  id="installation1"
                  value="DullesGlass help me install"
                />DullesGlass help me install</label
              >
            </div>
          </div>
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Are you looking for a</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="bathtub0"
                ><input
                  type="checkbox"
                  name="bathtub"
                  id="bathtub0"
                  value="Bathtub Door"
                />Bathtub Door</label
              ><label class="dg-dropdown-item" for="bathtub1"
                ><input
                  type="checkbox"
                  name="bathtub"
                  id="bathtub1"
                  value="Shower Door"
                />Shower Door</label
              >
            </div>
          </div>
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Door Options</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="door_options0"
                ><input
                  type="checkbox"
                  name="door_options"
                  id="door_options0"
                  value="Single"
                />Single</label
              ><label class="dg-dropdown-item" for="door_options1"
                ><input
                  type="checkbox"
                  name="door_options"
                  id="door_options1"
                  value="Door &amp; Panel"
                />Door &amp; Panel</label
              ><label class="dg-dropdown-item" for="door_options2"
                ><input
                  type="checkbox"
                  name="door_options"
                  id="door_options2"
                  value="Slider"
                />Slider</label
              ><label class="dg-dropdown-item" for="door_options3"
                ><input
                  type="checkbox"
                  name="door_options"
                  id="door_options3"
                  value="Corner"
                />Corner</label
              ><label class="dg-dropdown-item" for="door_options4"
                ><input
                  type="checkbox"
                  name="door_options"
                  id="door_options4"
                  value="Screens"
                />Screens</label
              >
            </div>
          </div>
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Door Types</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="door_types0"
                ><input
                  type="checkbox"
                  name="door_types"
                  id="door_types0"
                  value="Sliding "
                />Sliding </label
              ><label class="dg-dropdown-item" for="door_types1"
                ><input
                  type="checkbox"
                  name="door_types"
                  id="door_types1"
                  value="Swinging"
                />Swinging</label
              ><label class="dg-dropdown-item" for="door_types2"
                ><input
                  type="checkbox"
                  name="door_types"
                  id="door_types2"
                  value="Fixed"
                />Fixed</label
              >
            </div>
          </div>
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Opening Direction</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="opening0"
                ><input
                  type="checkbox"
                  name="opening"
                  id="opening0"
                  value="Open/slide to the left"
                />Open/slide to the left</label
              ><label class="dg-dropdown-item" for="opening1"
                ><input
                  type="checkbox"
                  name="opening"
                  id="opening1"
                  value="Open/slide to the righ"
                />Open/slide to the righ</label
              >
            </div>
          </div>
          <div class="dg-dropdown">
            <div class="dg-dropdown-head">
              <div class="dg-dropdown-title">Number of Panels</div>
              <i class="dg-arrow down"></i>
            </div>
            <div class="dg-dropdown-content">
              <label class="dg-dropdown-item" for="panels0"
                ><input
                  type="checkbox"
                  name="panels"
                  id="panels0"
                  value="1 panel"
                />1 panel</label
              ><label class="dg-dropdown-item" for="panels1"
                ><input
                  type="checkbox"
                  name="panels"
                  id="panels1"
                  value="2 panels"
                />2 panels</label
              ><label class="dg-dropdown-item" for="panels2"
                ><input
                  type="checkbox"
                  name="panels"
                  id="panels2"
                  value="3 panels"
                />3 panels</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dg-options-wrapper"><div class="dg-options"></div></div>
    <div class="dg-number-of-templates">Total 3 templates found</div>
    <div class="dg-products-wrapper">
      <div class="dg-products">
        <div class="dg-product">
          <div class="dg-sku">SKU: PrF8LD2</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Prima™</div>
          <a href="/category" class="dg-category"
            >Door &amp; Panel Shower Doors</a
          >
          <div class="dg-template-name">
            Right Open Door &amp; Panel Shower
          </div>
          <p class="dg-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            doeiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="dg-price">Starting at<span>$983.40</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta" (click)="redirect('customize')">Customize</button>
          </div>
        </div>
        <div class="dg-product">
          <div class="dg-sku">SKU: WFsAR</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/WFsR.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Solo™</div>
          <a href="/category" class="dg-category">Single Shower Doors</a>
          <div class="dg-template-name">
            Left Open Single Swinging Shower Screen
          </div>
          <p class="dg-description">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="dg-price">Starting at<span>$731.10</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta" (click)="redirect('customize')">Customize</button>
          </div>
        </div>
        <div class="dg-product">
          <div class="dg-sku">SKU: FsAR</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/FsAR.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Tela™</div>
          <a href="/category" class="dg-category">Shower Screens</a>
          <div class="dg-template-name">
            Left Open Single Shower Round Screen
          </div>
          <p class="dg-description">
            Consectetur adipiscing elit, sed doeiusmod tempor incididunt ut
            labore et dolore magna aliqua.
          </p>
          <div class="dg-price">Starting at<span>$536.16</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta">Customize</button>
          </div>
        </div>
        <div class="dg-product">
          <div class="dg-sku">SKU: PrF8LD</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Prima™</div>
          <a href="/category" class="dg-category"
            >Door &amp; Panel Shower Doors</a
          >
          <div class="dg-template-name">
            Right Open Door &amp; Panel Shower
          </div>
          <p class="dg-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            doeiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="dg-price">Starting at<span>$983.40</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta">Customize</button>
          </div>
        </div>
        <div class="dg-product">
          <div class="dg-sku">SKU: PrF8LD1</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Prima™</div>
          <a href="/category" class="dg-category"
            >Door &amp; Panel Shower Doors</a
          >
          <div class="dg-template-name">
            Right Open Door &amp; Panel Shower
          </div>
          <p class="dg-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            doeiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="dg-price">Starting at<span>$983.40</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta">Customize</button>
          </div>
        </div>
        <div class="dg-product">
          <div class="dg-sku">SKU: WFsAR1</div>
          <img
            src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/WFsR.jpg"
            width="100%"
            height="auto"
            alt="product"
          />
          <div class="dg-trademark">Solo™</div>
          <a href="/category" class="dg-category">Single Shower Doors</a>
          <div class="dg-template-name">
            Left Open Single Swinging Shower Screen
          </div>
          <p class="dg-description">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="dg-price">Starting at<span>$731.10</span></div>
          <div class="dg-actions">
            <button>More Info</button
            ><button class="dg-cta">Customize</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dg-drawler-wrapper">
      <div class="dg-drawler dg--filter-drawler">
        <div class="dg-drawler-title">
          <div class="title-text">Filters</div>
          <div class="close">Close</div>
        </div>
        <div class="dg-drawler-content">
          <div class="dg-filter-options">
            <div class="dg-filter-title">Installation Option</div>
            <label class="dg-option" for="installation0"
              ><input
                type="checkbox"
                name="installation"
                id="installation0"
                value="I will install"
              />I will install</label
            ><label class="dg-option" for="installation1"
              ><input
                type="checkbox"
                name="installation"
                id="installation1"
                value="DullesGlass help me install"
              />DullesGlass help me install</label
            >
          </div>
          <div class="dg-filter-options">
            <div class="dg-filter-title">Are you looking for a</div>
            <label class="dg-option" for="bathtub0"
              ><input
                type="checkbox"
                name="bathtub"
                id="bathtub0"
                value="Bathtub Door"
              />Bathtub Door</label
            ><label class="dg-option" for="bathtub1"
              ><input
                type="checkbox"
                name="bathtub"
                id="bathtub1"
                value="Shower Door"
              />Shower Door</label
            >
          </div>
          <div class="dg-filter-options">
            <div class="dg-filter-title">Door Options</div>
            <label class="dg-option" for="door_options0"
              ><input
                type="checkbox"
                name="door_options"
                id="door_options0"
                value="Single"
              />Single</label
            ><label class="dg-option" for="door_options1"
              ><input
                type="checkbox"
                name="door_options"
                id="door_options1"
                value="Door &amp; Panel"
              />Door &amp; Panel</label
            ><label class="dg-option" for="door_options2"
              ><input
                type="checkbox"
                name="door_options"
                id="door_options2"
                value="Slider"
              />Slider</label
            ><label class="dg-option" for="door_options3"
              ><input
                type="checkbox"
                name="door_options"
                id="door_options3"
                value="Corner"
              />Corner</label
            ><label class="dg-option" for="door_options4"
              ><input
                type="checkbox"
                name="door_options"
                id="door_options4"
                value="Screens"
              />Screens</label
            >
          </div>
          <div class="dg-filter-options">
            <div class="dg-filter-title">Door Types</div>
            <label class="dg-option" for="door_types0"
              ><input
                type="checkbox"
                name="door_types"
                id="door_types0"
                value="Sliding "
              />Sliding </label
            ><label class="dg-option" for="door_types1"
              ><input
                type="checkbox"
                name="door_types"
                id="door_types1"
                value="Swinging"
              />Swinging</label
            ><label class="dg-option" for="door_types2"
              ><input
                type="checkbox"
                name="door_types"
                id="door_types2"
                value="Fixed"
              />Fixed</label
            >
          </div>
          <div class="dg-filter-options">
            <div class="dg-filter-title">Opening Direction</div>
            <label class="dg-option" for="opening0"
              ><input
                type="checkbox"
                name="opening"
                id="opening0"
                value="Open/slide to the left"
              />Open/slide to the left</label
            ><label class="dg-option" for="opening1"
              ><input
                type="checkbox"
                name="opening"
                id="opening1"
                value="Open/slide to the righ"
              />Open/slide to the righ</label
            >
          </div>
          <div class="dg-filter-options">
            <div class="dg-filter-title">Number of Panels</div>
            <label class="dg-option" for="panels0"
              ><input
                type="checkbox"
                name="panels"
                id="panels0"
                value="1 panel"
              />1 panel</label
            ><label class="dg-option" for="panels1"
              ><input
                type="checkbox"
                name="panels"
                id="panels1"
                value="2 panels"
              />2 panels</label
            ><label class="dg-option" for="panels2"
              ><input
                type="checkbox"
                name="panels"
                id="panels2"
                value="3 panels"
              />3 panels</label
            >
          </div>
        </div>
        <div class="dg-drawler-actions">
          <button>Clear</button><button class="cta">Apply</button>
        </div>
      </div>
    </div>
    <div class="dg-drawler-wrapper close">
      <div class="dg-drawler dg--more-info-drawler">
        <div class="dg-drawler-title">
          <div class="title-text">More Info</div>
          <div class="close">Close</div>
        </div>
        <div class="dg-drawler-content">
          <div class="dg-product">
            <div class="dg-trademark">Prima™</div>
            <a href="/category" class="dg-category"
              >Door &amp; Panel Shower Doors</a
            >
            <div class="dg-template-name">
              Left Open Door &amp; Panel Shower Door
            </div>
            <div
              id="product-carousel"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="images/products/canto-front-view.png" />
                  <div class="carousel-caption">Front View</div>
                </div>
                <div class="item">
                  <img src="images/products/canto-top-view.png" />
                  <div class="carousel-caption">Top View</div>
                </div>
                <div class="item active">
                  <img src="images/products/canto-door-open.png" />
                  <div class="carousel-caption">Door Open</div>
                </div>
                <div class="item">
                  <img src="images/products/canto-drawing-opens-right.png" />
                  <div class="carousel-caption">Drwaing Opens</div>
                </div>
              </div>
              <a
                class="left carousel-control"
                href="#product-carousel"
                role="button"
                data-slide="prev"
                ><span
                  class="glyphicon glyphicon-chevron-left"
                  aria-hidden="true"
                ></span
                ><span class="sr-only">Previous</span></a
              ><a
                class="right carousel-control"
                href="#product-carousel"
                role="button"
                data-slide="next"
                ><span
                  class="glyphicon glyphicon-chevron-right"
                  ariahidden="true"
                ></span
                ><span class="sr-only">Next</span></a
              >
            </div>
            <h3>What is Prima</h3>
            <p class="dg-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              doeiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="dg-divider"></div>
            <h3>In Stock Products</h3>
            <a href="/" class="dg-in-stock-product"
              ><div class="dg-in-stock-product-image">
                <img
                  alt="customize option"
                  src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
                />
              </div>
              <div class="dg-in-stock-product-content">
                <div class="template">Canto™</div>
                <div class="category">
                  Left Open Single Shower Round Screen
                </div>
                <div class="description">
                  Opaque-Clear | ClearShield | Brass | Victorian Handle
                </div>
                <div class="price">$998</div>
              </div></a
            ><a href="/" class="dg-in-stock-product"
              ><div class="dg-in-stock-product-image">
                <img
                  alt="customize option"
                  src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
                />
              </div>
              <div class="dg-in-stock-product-content">
                <div class="template">Canto™</div>
                <div class="category">
                  Left Open Single Shower Round Screen
                </div>
                <div class="description">
                  Opaque-Clear | Brass | Victorian Handle
                </div>
                <div class="price">$768</div>
              </div></a
            ><a href="/" class="dg-in-stock-product"
              ><div class="dg-in-stock-product-image">
                <img
                  alt="customize option"
                  src="https://d2goxry5qfabg5.cloudfront.net/glass-shower-doors/measurements_new/PrDR8F.jpg"
                />
              </div>
              <div class="dg-in-stock-product-content">
                <div class="template">Canto™</div>
                <div class="category">
                  Left Open Single Shower Round Screen
                </div>
                <div class="description">Opaque-Clear | ClearShield</div>
                <div class="price">$668</div>
              </div></a
            >
          </div>
        </div>
        <div class="dg-drawler-actions">
          <button>Close</button><button class="cta">Customize</button>
        </div>
      </div>
    </div>
    <div class="dg-popup-wrapper">
      <div class="dg-popup sd--filtdg-popup">
        <div class="close"><img src="images/close.png" alt="sizes" /></div>
        <div class="dg-popup-content">
          <div class="dg-progress">
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Sizes</div>
            </div>
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Glass Type</div>
            </div>
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Glass Thickness</div>
            </div>
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Glass Surface Protection</div>
            </div>
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Hardware Finish</div>
            </div>
            <div class="dg-progress-step step-done">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Attachment Hardware</div>
            </div>
            <div class="dg-progress-step step-active">
              <div class="dg-progress-dot"></div>
              <div class="dg-progress-name">Summary</div>
            </div>
          </div>
          <div class="dg-customization-step">
            <div class="dg-customization-step-image">
              <img src="images/sizes.png" alt="sizes" />
            </div>
            <div class="dg-customization-option">
              <div class="dg-sizes-option">
                <div class="dg-sizes-option-title">A</div>
                <div class="dg-sizes-option-dropdown">
                  <span>Inch</span
                  ><select>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                  </select>
                </div>
                <div class="dg-sizes-option-dropdown">
                  <span>Fraction</span
                  ><select>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                  </select>
                </div>
              </div>
              <div class="dg-sizes-option">
                <div class="dg-sizes-option-title">B</div>
                <div class="dg-sizes-option-dropdown">
                  <span>Inch</span
                  ><select>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                  </select>
                </div>
                <div class="dg-sizes-option-dropdown">
                  <span>Fraction</span
                  ><select>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                  </select>
                </div>
              </div>
              <div class="dg-sizes-option">
                <div class="dg-sizes-option-title">C</div>
                <div class="dg-sizes-option-dropdown">
                  <span>Inch</span
                  ><select>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                  </select>
                </div>
                <div class="dg-sizes-option-dropdown">
                  <span>Fraction</span
                  ><select>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                  </select>
                </div>
              </div>
              <div class="dg-sizes-option">
                <div class="dg-sizes-option-title">D</div>
                <div class="dg-sizes-option-dropdown">
                  <span>Inch</span
                  ><select>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                    <option>72</option>
                  </select>
                </div>
                <div class="dg-sizes-option-dropdown">
                  <span>Fraction</span
                  ><select>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                    <option>1/16</option>
                  </select>
                </div>
              </div>
              <div class="dg-divider"></div>
              <div class="dg-door-size">
                <div class="dg-sizes-option">
                  <div class="dg-sizes-option-title">Door Size</div>
                  <div class="dg-sizes-option-dropdown">
                    <span>Inch</span
                    ><select>
                      <option>72</option>
                      <option>72</option>
                      <option>72</option>
                      <option>72</option>
                      <option>72</option>
                      <option>72</option>
                    </select>
                  </div>
                  <div class="dg-sizes-option-dropdown">
                    <span>Fraction</span
                    ><select>
                      <option>1/16</option>
                      <option>1/16</option>
                      <option>1/16</option>
                      <option>1/16</option>
                      <option>1/16</option>
                      <option>1/16</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="dg-customization-actions">
              <button class="cta">Next: Glass Type</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>