@import "src/theme/theme-variables";

/* 
  ::ng-deep disables the Angular View Encapsulation to override default styles of Primeng. 
  However, with the use of :host, these overiding styles will only work within this component 
*/
:host {
  ::ng-deep {
    .language-selector.p-dropdown {
      border: 0;
      height: $navbar-height;

      .p-dropdown-label {
        padding-right: 0;
      }

      &:not(.p-disabled).p-focus {
        box-shadow: none;
      }
    }
  }
}
