@import "src/theme/theme-variables";

$header-background: lightgray;

.p-datatable {
  .p-sortable-column {
    .p-sortable-column-icon::after {
      font-style: normal;
      @include font-material-icons();
      content: "sort";
    }

    .p-sortable-column-icon.pi-sort-amount-up-alt::after {
      @include font-material-icons();
      content: "arrow_drop_up";
    }

    .p-sortable-column-icon.pi-sort-amount-down::after {
      @include font-material-icons();
      content: "arrow_drop_down";
    }

    &.p-highlight,
    &:not(.p-highlight):hover {
      background-color: $header-background;
    }
  }

  .p-datatable-thead {
    > tr {
      > th {
        background-color: $header-background;
      }
    }
  }
}

.id {
  width: 6.25rem;
}
