/*
 * Application global variables.
 */

//  Primeng view ports
$viewport-sm: 576px !default; // mobile phones
$viewport-md: 768px !default; // tablets
$viewport-lg: 992px !default; // desktops
$viewport-xl: 1200px !default;

// For margins & paddings
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-72: 72px;

// Colors
$primary: #89e872;
$primary-light: #bdffa3;
$primary-dark: #55b543;

$secondary: #e8f5e9;
$secondary-light: #fff;
$secondary-dark: #b6c2b7;

$accent: #ff7920;
$text: #000;

// Fonts
/* 
  16px: default browser font size
  When converting px to rem, use the formula: rem = px / 16
  e.g 16px / 16 = 1rem
*/

$root-font-size: 16px !default;

// Sidebar
$sidebar-width: 20rem;

// Navbar
$navbar-height: 50px;
$navbar-bottom-margin: $space-24;

// App Content
$app-content-horizontal-padding: $space-16;

// Checkbox
$checkbox-size: 20px; // Primeng default size

// Border radius
$border-radius: 5px;
