<p-dialog
  styleClass="modal-customized modal-sm"
  modal="modal"
  [(visible)]="display"
  [header]="'Set password' | translate"
  [resizable]="false"
  (onHide)="hideDialog.emit()"
>
  <!-- Dialog content -->
  <form [formGroup]="form" ngNativeValidate>
    <!-- Email -->
    <div class="p-grid">
      <span class="ui-float-label p-col-12">
        <input id="float-input-email" type="text" pInputText formControlName="email" />
        <label for="float-input-email">{{ 'Email' | translate }}</label>
      </span>
    </div>

    <!-- Password -->
    <div class="p-grid">
      <span class="ui-float-label p-col-12">
        <input id="float-input-password" type="password" pInputText formControlName="password" />
        <label class="required" for="float-input-password">{{ 'Password' | translate }}</label>
      </span>
    </div>

    <!-- Confirm Password -->
    <div class="p-grid">
      <span class="ui-float-label p-col-12">
        <input id="float-input-confirm-password" type="password" pInputText formControlName="confirmPassword" />
        <label class="required" for="float-input-confirm-password">{{ 'Confirm Password' | translate }}</label>
      </span>
    </div>
  </form>

  <!-- Dialog footer -->
  <p-footer
    ><p-button
      *ngIf="!readonly"
      icon="pi pi-check"
      [label]="'Save' | translate"
      [disabled]="form.invalid"
      (click)="onSave()"
    ></p-button>
    <p-button
      styleClass="ui-button-secondary"
      icon="pi pi-times"
      [label]="readonly ? ('Close' | translate) : ('Cancel' | translate)"
      (click)="hideDialog.emit()"
    ></p-button>
  </p-footer>
</p-dialog>
