<!-- <p-toolbar styleClass="navbar p-shadow-2 p-py-0">
  <div class="navbar__left"> -->
    <!-- Sidebar button -->
    <!-- <button pButton class="p-button-rounded p-button-text" icon="icon-menu" (click)="toggleSidebar.emit()"></button> -->

    <!-- Search box -->
    <!-- <span class="search-box p-input-icon-left p-ml-3">
      <i class="material-icons">search</i>

      <input class="p-inputtext-sm" type="text" pInputText [placeholder]="'Search' | translate" />
    </span>
  </div> -->

  <!-- Change language -->
  <!-- <div class="top-bar__right p-ml-auto"> <app-language-selector></app-language-selector> </div> </p-toolbar> -->
<app-header></app-header>