<p-sidebar styleClass="sidebar p-shadow-2" [(visible)]="isSidebarShown" [modal]="false">
  <div class="sidebar__header p-pl-3">
    <h3 class="p-my-0">Full menu</h3>
  </div>

  <hr class="p-mt-0" />

  <p-menu styleClass="sidebar__navmenu" [model]="navMenu"></p-menu>
</p-sidebar>

<div
  #appContent
  class="app-content"
  [ngClass]="{ 'app-content--narrowed': isSidebarShown }"
  style="--paginator-first-txt: '{{ paginatorFirstText }}'; --paginator-last-txt: '{{ paginatorLastText }}'"
>
  <app-navbar [isSidebarShown]="isSidebarShown" (logout)="logout()" (toggleSidebar)="toggleSidebar()"></app-navbar>

  <router-outlet></router-outlet>
</div>
